@import "Dashboard";
@import "ActivityPage";

#content {
  padding: 3em 0;
}

.text-inactive {
  color: #888;
}

.subTitle {
  h1 {
    font-size: 24px;
  }
}

.ActivityForm {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .form-group {
    width: 49%;
  }
}
