.text-inactive {
  color: #888;
}

.dashboard-graph {
  padding: 1em;

  form {
    padding: 1em 0;

    label {
      padding-right: 1em;
    }
  }
}

#content {
  margin-bottom: 2em;
}

.subTitle {
  h1 {
    font-size: 24px;
  }
}

.ActivityForm {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .form-group {
    width: 49%;
  }
}
